{% extends 'index.html' %}
{% block content %}
<div class = "text">
    <center>
    <h1 >About Focify</h1>
    </center>
    <p>Focify is a platform specifically designed to provide an environment that aids in concentration. It allows you to tailor your work habits and schedule breaks as needed.
        It consists of extremely efficient timers which help us isolate ourselves from distractions and only hold our goal to the supreme. Furthermore, it also has reminders 
        which help organize the user's schedule. The creation of this app has been to help students, employees and everyone in general. We hope we have been successful in this endeavor.
    </p>
</div>
<br><br>
<div class = "text">
    <center>
    <h1>About Us</h1>
    </center>
    <p>The team of Cyber squad representing voyagers house consist of Dhiraj, Aarav, Yashas and Soumil.
    We high school students have tried to create an app to promote productivity among our fellow peers 
    during examinations and study times in general. We hold the ideal of working hard with utmost concentration
    and perseverance. In order to achieve this goal, we have chosen this concept to base our app upon. 
    </p>
</div>

{% endblock %}