{% extends 'index.html' %}
{% block content %}
<!--content for this page lies here-->
<h1 class="text">Select</h1>


<form method="POST">
    <label for="focus_time">Focus Time:</label>
    <input type="number" id="focus_time" name="focus_time" min="0">
    <br>
    <label for="break_intervals">Break Intervals:</label>
    <input type="number" id="break_intervals" name="break_intervals" min="0">
    <br>
    <label for="break_duration">Break Duration:</label>
    <input type="number" id="break_duration" name="break_duration" min="0">
    <br>
    <button class="btn btn-primary" ><a href="{{url_for('focus')}}">Focus</a></button>
 </form>
 
 
{% endblock %}