<!DOCTYPE html>
<html>

<head>
    <title>CASE STUDY</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">

    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <style>
        .body {
            background-color: black;
        }

        .text {
            color: snow;
            font-size: 25px;
            margin: 30px;
        }

        .App-header {
            font-size: 50px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            color: snow;

        }
    </style>


</head>
<body class = "body">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
      <a class="navbar-brand" href="{{url_for('home')}}">Focify</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="{{url_for('home')}}">Home</a></li>
        <li><a href="{{url_for('customise')}}">Customise</a></li>
        <li><a href="{{url_for('about')}}">About Us</a></li>
      </ul>
    </div>
    
</nav>
{%block content%}
    <header class="App-header">
        <center>
        <h1>
            <p1>Welcome!!</p1>
        </h1>
    </center> 
    </header>  
    
    <script src="main.js"></script>
    <p class = "text">This is a productivity app which runs on a ingenious software designed by voyagers house </p>

    <br><br>
    <center>
        <a href="{{ url_for('customise') }}">
            <button class="btn btn-primary">Get Started</button>
         </a>
    </center> 
    {% endblock %}
    </body>

</html>